---
import authorImage from "$assets/author.jpg"
type Props = {
  title: string
  description: string
  imageSrc?: string | undefined
  chilren?: astroHTML.JSX.Children
}
const { title, description, imageSrc } = Astro.props
const url = Astro.site?.origin + Astro.url.pathname
const canonical = `https://sujeet.pro` + Astro.url.pathname + "/"
---

<title>{title}</title>
<meta property="og:title" content={title} />
<meta property="og:url" content={url} />
<meta property="og:locale" content="en-IN" />

<meta name="description" content={description} />
<meta property="og:description" content={description} />

<meta property="og:image" content={imageSrc ?? authorImage.src} />

<slot>
  <meta property="og:type" content="website" />
</slot>

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@sujeetpro" />
<link rel="canonical" href={canonical} />
