---
import type { InferGetStaticPropsType } from "astro"
import { Image } from "astro:assets"
import { Layout } from "$layout"
import { AUTHOR_NAME } from "$constants/global"
import { MarkdownToc, ArticleContainer, ImgFigure, DateTime, Link } from "$components"
import sujeetImg from "$assets/author.jpg"
import { Icon } from "astro-icon/components"
import { getBlogs, SeriesCard } from "$modules/blog"
import { TopicTags } from "$modules/topic"
// import { getSeriesForBlog, SeriesBlogCard } from "$modules/series"
import { getEntries } from "astro:content"
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogs = await getBlogs()
  const pages = blogs.map((blog) => ({
    params: { slug: blog.entry.slug },
    props: { blog },
  }))

  return pages
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>

// 2. For your template, you can get the entry directly from the prop
const { entry, children, parent } = Astro.props.blog
const { Content, remarkPluginFrontmatter: frontmatter, headings } = await entry.render()
const {
  title,
  description,
  image,
  imageCredit,
  topics: topicsRef,
  publishedOn,
  lastUpdatedOn,
  isDraft,
  isContentSummaryOpen,
} = entry.data

const topics = await getEntries(topicsRef)
const hasUpdated = publishedOn.getTime() !== lastUpdatedOn.getTime()
const breadcrumbParents = [{ title: "Blogs", path: "/blog/" }]
if (parent && !parent.isCurrent) {
  breadcrumbParents.push({ title: parent.title, path: parent.path })
}
const currentChildrenIdx = children.findIndex((child) => child.isCurrent)
const nextChildren =
  currentChildrenIdx !== -1 && currentChildrenIdx !== children.length - 1 ? children[currentChildrenIdx + 1] : null
---

<Layout {title} {description} imageSrc={image.src}>
  <Fragment slot="seo">
    <meta property="og:type" content="article" />
    <meta property="og:article:author" content={AUTHOR_NAME} />
    {topics.map((topic) => <meta property="og:article:tag" content={topic.data.title} />)}
    <meta property="og:article:published_time" content={publishedOn.toISOString()} />
    <meta property="og:article:modified_time" content={lastUpdatedOn.toISOString()} />
  </Fragment>
  <main class="container">
    <ArticleContainer {title} {description} {breadcrumbParents} {isDraft}>
      <Fragment slot="post-intro">
        <ul class="blog-meta">
          <li class="blog-meta-item blog-author">
            <Image src={sujeetImg} alt={AUTHOR_NAME} role="presentation" class="author-img" />
            <span>{AUTHOR_NAME}</span>
          </li>
          <li class="blog-meta-item blog-date" title={hasUpdated ? "Last updated on" : "Published on"}>
            <Icon class="icon" name={hasUpdated ? "carbon:calendar-tools" : "carbon:calendar"} />
            <DateTime date={hasUpdated ? lastUpdatedOn : publishedOn} />
          </li>
          {
            frontmatter.minutesRead && !parent?.isCurrent ? (
              <li class="blog-meta-item blog-time">
                <Icon class="icon" name="carbon:time" />
                {frontmatter.minutesRead}
              </li>
            ) : null
          }
          {
            parent?.isCurrent && children.length ? (
              <li class="blog-meta-item blog-time">
                <Icon class="icon" name="carbon:time" />
                {children.length === 1 ? "1 Blog" : `${children.length} Blogs`}
              </li>
            ) : null
          }
        </ul>
        <ImgFigure {image} caption={imageCredit} />

        {
          parent ? (
            <SeriesCard isOpen={parent.isCurrent ? isContentSummaryOpen : true} parent={parent} children={children} />
          ) : null
        }
        {!parent?.isCurrent ? <MarkdownToc {headings} isOpen={isContentSummaryOpen} /> : null}
      </Fragment>
      <Content />
    </ArticleContainer>

    <hr />
    <h2 class="text-5">Topics</h2>
    <TopicTags {topics} />
    {
      nextChildren ? (
        <>
          <div class="next-blog">
            <span class="text-5">Next In Series:</span>
            <Link href={nextChildren.path}>{nextChildren.title}</Link>
          </div>
        </>
      ) : null
    }
  </main>
</Layout>

<style>
  @layer page {
    .blog-meta {
      display: grid;
      grid-template-areas: "author author" "date time";
      gap: var(--sp-space-4) var(--sp-space-6);
      place-items: center;
      place-content: center;
      list-style: none;
      padding-inline-start: 0;
    }

    .blog-meta-item {
      display: flex;
      align-items: center;
      gap: var(--sp-space-4);
    }

    .blog-author {
      grid-area: author;
    }
    .blog-date {
      grid-area: date;
    }
    .blog-time {
      grid-area: time;
    }
    .blog-time::before {
      content: "\00B7";
      margin-right: var(--sp-space-6);
      font-weight: bolder;
      font-size: var(--sp-font-size-6);
      line-height: 0;
      color: var(--sp-text-muted-color);
    }
    .next-blog {
      padding: var(--sp-space-6);
      background-color: var(--sp-background-950);
      display: flex;
      flex-direction: column;
      text-align: right;
    }

    /* .icon {
      margin-right: var(--sp-space-4);
    } */

    @media (min-width: 40rem) {
      .blog-meta {
        grid-template-areas: "author date time";
      }
      .blog-date {
        display: flex;
        align-items: center;
      }
      .blog-date::before {
        content: "\00B7";
        margin-right: var(--sp-space-6);
        font-weight: bolder;
        font-size: var(--sp-font-size-6);
        line-height: 0;
        color: var(--sp-text-muted-color);
      }
    }

    .author-img {
      width: var(--sp-space-10);
      height: var(--sp-space-10);
      border-radius: 50%;
      margin-right: var(--sp-space-4);
    }

    hr {
      margin-top: var(--sp-space-10);
    }
  }
</style>
