---
import type { InferGetStaticPropsType } from "astro"
import { Image } from "astro:assets"
import { getEntries } from "astro:content"
import { Layout } from "$layout"
import { getSeriesEntries } from "$modules/series"
import { BlogCard } from "$modules/blog"
import { Alert, ArticleContainer } from "$components"

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const entries = await getSeriesEntries()

  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props
const { title, description, image, isDraft, blogs } = entry.data
const { Content } = await entry.render()
const blogEntries = await getEntries(blogs)
---

<Layout {title} {description} imageSrc={image.src}>
  <main class="container flex-1">
    <ArticleContainer {title} {description} {isDraft} parentPageTitle="Topics" parentPageHref="/topic/">
      <Fragment slot="post-intro">
        <Image src={image} alt="" />
      </Fragment>
      <Content />
      <hr />
      <section>
        {
          blogEntries.length === 0 ? (
            <Alert level="info">No Blogs yet.</Alert>
          ) : (
            <h2 class="text-center">Related Blogs</h2>
          )
        }
        {blogEntries.map((entry) => <BlogCard {entry} />)}
      </section>
    </ArticleContainer>
  </main>
</Layout>
