---
import { Card, DateTime } from "$components"
import type { CollectionEntry } from "astro:content"
type Props = {
  entry: CollectionEntry<"blog">
}

const { entry } = Astro.props
const { title, description, isDraft, publishedOn, lastUpdatedOn } = entry.data
const href = `/blog/${entry.slug}`
---

<Card {title} {description} {href}>
  <div class="publish">
    {
      lastUpdatedOn.getTime() === publishedOn.getTime() ? (
        <span>
          First published on <DateTime date={publishedOn} />.
        </span>
      ) : (
        <span>
          Last Updated on <DateTime date={lastUpdatedOn} />.
        </span>
      )
    }
    {isDraft ? <span>Draft Entry</span> : null}
  </div>
</Card>

<style>
  .publish {
    text-align: right;
    font-size: var(--sp-font-size-2);
    font-weight: lighter;
  }
</style>
