---
import { Card, DateTime } from "$components"
import type { CollectionEntry } from "astro:content"
type Props = {
  entry: CollectionEntry<"blog">
}

const { entry } = Astro.props
const { title, description, image, isDraft, publishedOn, lastUpdatedOn } = entry.data
const href = `/blog/${entry.slug}`

const hasUpdated = publishedOn.getTime() !== lastUpdatedOn.getTime()
---

<Card {title} {image} {description} {href}>
  <div class="blog-publish-info">
    {
      hasUpdated ? (
        <span>
          Last Updated on <DateTime date={lastUpdatedOn} />.
        </span>
      ) : (
        <span>
          Published on <DateTime date={publishedOn} />.
        </span>
      )
    }
    {isDraft ? <span>Draft Entry</span> : null}
  </div>
</Card>

<style>
  @layer component.blog-card {
    .blog-publish-info {
      text-align: right;
      font-size: var(--sp-font-size-2);
      font-weight: lighter;
      grid-area: card-content;
    }
  }
</style>
