---
import type { InferGetStaticPropsType } from "astro"
import { getEntry } from "astro:content"
import Layout from "$layout/base-layout.astro"
import { ArticleContainer, MarkdownToc } from "$components"
import CompanyCard from "$modules/company/company-list-card.astro"
import { getProjectEntries } from "$modules/project/project.service"

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const entries = await getProjectEntries()
  const pages = entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry: entry },
  }))

  return pages
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props
const { title, description, company, initialTocClose } = entry.data
const { Content, headings } = await entry.render()
const companyDetails = await getEntry(company)
---

<Layout {title} {description}>
  <main class="container">
    <ArticleContainer {title} {description} parentPageHref="/projects/" parentPageTitle="Projects">
      <CompanyCard slot="post-intro" class="company-card" entry={companyDetails} />
      <MarkdownToc {headings} {initialTocClose} />
      <Content />
    </ArticleContainer>
  </main>
</Layout>

<style>
  @layer page {
    main {
      flex: 1;
    }

    .content-description {
      font-style: italic;
    }

    .content-start {
      margin-top: var(--sp-space-13);
      margin-bottom: calc(2 * var(--sp-space-13));
    }
    .company-card {
      margin: var(--sp-space-6) 0;
    }
  }
</style>
