---
import type { InferGetStaticPropsType } from "astro"
import { getCollection, getEntry } from "astro:content"
// import { Image } from "astro:assets"
import Layout from "$layout/base-layout.astro"
import { ArticleContainer } from "$components"
import CompanyCard from "$modules/company/company-list-card.astro"

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("project", ({ data }) => {
    return import.meta.env.PROD ? !data.isDraft : true
  })
  const pages = blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry: entry },
  }))

  return pages
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props
const { title, description, company } = entry.data
const { Content } = await entry.render()
const companyDetails = await getEntry(company)
---

<Layout {title} {description} class="typescale-content">
  <main class="container">
    <ArticleContainer {title} {description} parentPageHref="/projects/" parentPageTitle="Projects">
      <CompanyCard slot="post" class="company-card" entry={companyDetails} />
      <Content />
    </ArticleContainer>
  </main>
</Layout>

<style>
  @layer page {
    main {
      flex: 1;
    }
    h1 {
      text-align: center;
      font-weight: bold;
    }
    .content-description {
      font-style: italic;
    }

    .content-start {
      margin-top: var(--sp-space-13);
      margin-bottom: calc(2 * var(--sp-space-13));
    }
    .company-card {
      margin: var(--sp-space-6) 0;
    }
  }
</style>
