---
import Layout from "$layout/base-layout.astro"
import ProjectListItem from "$modules/project/project-list-item.astro"
import { getProjectEntries } from "$modules/project/project.service"

const entries = await getProjectEntries()
const title = "Sujeet's Projects"
const description = "List of all the projects that I have worked on for different companies"
---

<Layout {title} {description}>
  <main class="container">
    <h1>{title}</h1>
    {entries.map((entry) => <ProjectListItem entry={entry} href={`/projects/${entry.slug}/`} />)}
  </main>
</Layout>

<style>
  main {
    flex: 1;
  }
  h1 {
    text-align: center;
    margin-bottom: var(--sp-space-8);
  }
</style>
