---
import "$styles"
import { ViewTransitions } from "astro:transitions"
import FavIcons from "./favicons.astro"
import Analytics from "./analytics/analytics.astro"
import Seo from "./seo/seo.astro"
import ThemeSetter from "./theme/theme-setter.astro"
import Header from "./header/header.astro"
import Footer from "./footer/footer.astro"
// import "@fontsource-variable/open-sans"

type Props = {
  // children: astroHTML.JSX.Children
  title: string
  description: string
  imageSrc?: string | undefined
  class?: string
}

const { title, description, imageSrc, class: className } = Astro.props
let assetPrefix = ""
if (import.meta.env.BASE_URL !== "/") {
  assetPrefix = import.meta.env.BASE_URL
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <FavIcons {assetPrefix} />
    <link rel="sitemap" href={`${assetPrefix}/sitemap-index.xml`} />
    <Seo {title} {description} {imageSrc}>
      <slot name="seo" />
    </Seo>
    <ViewTransitions />
    <ThemeSetter />
    <Analytics />
  </head>
  <body class:list={["color-pallet", className]}>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
